.imi
{
margin-top:-500px;
}


.navbar
{
		position:sticky;
		top:0;
		z-INDEX:999;
}

.aaa
{
width:100%;	
}
.bbb
{
width:100%;	
}
.ccc
{
width:100%;	
}
.ddd
{
width:100%;	
}

.wi
{
	width:100%;
}

.ik
{
	height:80%px;
		
}

.uj
{
	text-justify: auto;
	font-family: "Times New Roman", Times, serif;
}


#fot
{
	padding:40px;
	background-color:#2b3659;
	color:white;
font-family: "Times New Roman", Times, serif;
}
